.select-continer {
    height: fit-content;
    width: 100%;
}

.select-label {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;
    font: var(--text-body-bold);
    color: black;
}

.select {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    font: var(--text-body-bold);
    color: #424242;

    /*
    border: 2px solid transparent;
    border-image-source: var(--gradient-border);
    border-image-slice: 2;
    border-image-width: 1;
    color: var(--primary-main);
    */
}

.select select {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.select-option {
    
}*/