.textInput {
    width: 100%;
    height: fit-content;
    color: var(--primary-main);
    display: flex;
    flex-direction: column;
}

.label {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10px;
    font: var(--text-body-bold);
    color: black;
}

.input-box {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1px;
}

.on-focus {
    border: 2px solid transparent !important;
    border-image-source: var(--gradient-border) !important;
    border-image-slice: 2 !important;
    border-image-width: 1 !important;
    margin: 0 !important;
}

.input {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    flex: 1;
    /*color: var(--primary-main);*/
    color: #424242;
    font: var(--text-body);
}

.input:focus {
    outline: none;
}

.icon-button {
    cursor: pointer;
}

.error-text-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
}

.error-text {
    color: #dc242c;
}