.button {
    width: 100%;
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0;
    height: fit-content;
    text-decoration: none;
    cursor: pointer;
}

.link {
    color: var(--black);
    text-decoration: none;
    font: var(--text-body-bold);
    line-height: normal;
    transition: all ease 700ms;
    cursor: pointer;
}

.link:hover {
    color: var(--primary-main);
    border-color: var(--primary-main);
}

.active-page {
    color: var(--primary-main) !important;
    border-color: var(--secundary-main) !important;
}

.sublined {
    border-bottom: 2px solid var(--black);
    padding-bottom: 0;
}

.outlined {
    background-color: var(--white);
    color: var(--primary-dark);
    border: var(--primary-dark) solid 2px;
    transition: all ease 0.5s;
}

.outlined:hover {
    color: var(--white);
    background-color: var(--brown-main);
    border-color: var(--brown-main);
}

.contained {
    color: var(--white);
    background-color: var(--primary-dark);
    border: var(--primary-dark) solid 2px;
    transition: all ease 0.5s;
}

.contained:hover {
    background-color: var(--brown-main);
    border-color: var(--brown-main);
}