/*############## OBS ###############

    *RegisterPage usa alguns dos estilos de loginPage
    ex: .row{}, .coluna{}

*/

.register-container {
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
}

.register {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.img-register {
    background-image: url('../assets/register/register_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
}

/*############# Register Form #######################*/
.register-form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 480px;
    min-height: 400px;
    gap: 20px;
}