:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c5b898;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #171205;
  --white: #f9f3e0;
  --primary-main: #f3e6c2;
  --primary-dark: #eddaa3;
  --secondary-main: #d59e04;
  --secondary-dark: #b58f24;
  --brown-main: #44360e;
  --brown-dark: #2d2409;
  --gradient-main: linear-gradient(0deg, #b58f24 0%, #a87f13 0.01%, #b58f24 52.76%, #b58f24 100%);
  --gradient-border: linear-gradient(to right, #B58F24, rgba(181, 143, 36, 58%), rgba(181, 143, 36, 28%));  
  --text-body: 400 1rem/3rem Montserrat;
  --text-lead: 400 1.7280000448226929rem/4rem Fredoka One;
  --text-small: 400 0.8330000042915344rem/4rem Montserrat;
  --text-smallest: 400 0.6940000057220459rem/4rem Montserrat;
  --text-body-bold: 700 1rem/4rem Montserrat;
  --headers-h1: 400 2.9860000610351562rem/4rem Fredoka One;
  --headers-h2: 400 2.48799991607666rem/4rem Fredoka One;
  --headers-h3: 400 2.0739998817443848rem/4rem Fredoka One;
  --headers-h4: 400 1.7280000448226929rem/4rem Fredoka One;
  --headers-h5: 400 1.440000057220459rem/4rem Fredoka One;
  --headers-h6: 400 1.2000000476837158rem/4rem Fredoka One;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { font: var(--headers-h1); }
h2 { font: var(--headers-h2); }
h3 { font: var(--headers-h3); }
h4 { font: var(--headers-h4); }
h5 { font: var(--headers-h5); }
h6 { font: var(--headers-h6); }

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #F9F3E0;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}